<br>
<br>
<div>
    <mat-card class="sign">


            <form class = "form-login" #f="ngForm" (ngSubmit)="logIn(f.value)" [formGroup]="form">
                <mat-card-header>
              <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
                </mat-card-header>

                <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
                <div *ngIf="validLogin" class="alert alert-danger">Login Sucess.</div>
              <label for="Email">Email address</label>
              <input
                 formControlName="email"
                 type="email"
                 id="inputEmail"
                 ngModel class="form-control"
                 placeholder="Email address">
                 <div *ngIf = "form.get('email').touched && form.get('email').invalid"class="alert alert-danger">
                 <span *ngIf="form.hasError('email', 'email')&&form.get('email').touched">
                   This email not valid.
                  </span>
                  Enter the E-mail
                </div>
              <br>
              <label for="inputPassword">Password</label>
              <input
              formControlName="password"
              type="password"
              id="inputPassword"
              ngModel class="form-control"
              placeholder="Password">
              <div *ngIf = "form.get('password').touched" class = "alert alert-danger">
                Enter the password
              </div>
              <br>

              <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
              <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
            </form>

            <button (click)="createContact()"></button>


      </mat-card>
</div>


